.content {
	padding: 40px 15px;
	text-align: center;
	align: center;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

body {
	padding-top: 70px;
	padding-bottom: 30px;
}
div {
	text-align: center;
	
}